body {
    margin: 0;
}
.weergegevens {
    /*width: 500px;*/
}
img.kaart {
    width: 550px;
    visibility: hidden;
}
.content {
    width: 550px;
}
.warning {
    color: orange;
    max-width: 400px;
    margin: 0 0 12px 12px;
    display: none;
    position: absolute;
    top: 160px;
    left: 60px;
    padding: 5px;
    background-color: #defeff;
    opacity: .9;
}
.closer {
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}
.temp {
    color: blue;
}

.wind {
    color: darkgreen;
}

.zon {
    color: blue;
    padding: 6px 0;
}

.error {
    color: red;
    padding: 8px;
}
.weertabel td {
    vertical-align: top;
}
.temp {
    padding: 6px 46px 6px 10px;
}
.created {
    padding-right: 8px;
}
.banner {
    padding: 10px 45px 10px 10px;
    position: absolute;
    top: 86px;
    width: 100px;
    background-color: rgb(250, 250, 250);
    left: 22px;
    z-index: 1;
}
.verw {
    white-space: pre-wrap;
    width: 300px;
}
.weertabel {
    position: absolute;
    top: 504px;
    font-size: 15px;
    /*background-color: rgb(250, 250, 250);*/
    left: 18px;
    padding-right: 10px;
    z-index: 1;
    line-height: 1.4;
}
#icon {
    position: absolute;
    top: 0;
    right: 12px;
}
.colophon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(250, 250, 250, .8);
    padding: 4px 10px;
}
.sea {
    position: absolute;
    top:76px;
    left: 12px;
    height: 350px;
    width: 52px;
    background-color: #defeff;
}
.land {
    position: absolute;
    top: 505px;
    left: 18px;
    width: 300px;
    height: 82px;
    background-color: #d0d1d1;
}
div span:first-child {
    display: inline-block;
    width: 52px;
}
