body {
    margin: 0;
}
#samenv {
    margin-bottom: 3px;
}
img.kaart {
    width: 550px;
    visibility: hidden;
}
.content {
    width: 550px;
}
#alarmtxt {
    padding: 6px;
}
.alarm {
    color: orange;
    max-width: 400px;
    display: none;
    position: absolute;
    top: 160px;
    left: 20px;
    padding: 12px;
    background-color: #defeff;
    z-index: 1;
}
.closer {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: #defeff solid 1px;
    border-radius: 7px;
}
.temp {
    color: blue;
}

.wind {
    color: darkgreen;
}

.zon {
    color: blue;
    padding: 6px 0;
}

.error {
    color: red;
    padding: 8px;
}
.weertabel td {
    vertical-align: top;
}
.temp {
    padding: 6px 46px 6px 10px;
}
.created {
    padding-right: 8px;
}
.banner {
    padding: 10px 45px 10px 10px;
    position: absolute;
    top: 86px;
    width: 100px;
    background-color: rgb(250, 250, 250);
    left: 22px;
    z-index: 1;
}
.verw {
    white-space: pre-wrap;
    width: 300px;
}
#icon {
    position: absolute;
    top: 0;
    right: 12px;
}
.pageDown {
    position: absolute;
    right: 30px;
    background-color: #defeff;
    padding: 5px;
    line-height: 1.2;
}
.pageDown#pD1 {
    top: 550px;
}
.pageDown#pD2 {
    top: 1150px;
}
.pageDown#pD3 {
    top: 1710px;
}
.colophon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(250, 250, 250, .8);
    padding: 4px 10px;
}
.hide-legenda {
    position: absolute;
    top:76px;
    left: 12px;
    height: 350px;
    width: 52px;
    background-color: #defeff;
}
.land {
    position: absolute;
    top: 508px;
    left: 18px;
    width: 290px;
    height: 80px;
    background-color: lightgoldenrodyellow;
}
.weertabel {
    position: absolute;
    top: 518px;
    left: 32px;
    font-size: 15px;
    padding-right: 10px;
    z-index: 1;
    line-height: 1.4;
}
